:root{
  --font-family: 'Inter', sans-serif;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-large: 18px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --card-w: 360px;
  --accent: #2b6ef6;
  --bg-overlay: rgba(0,0,0,0.45);
  --radius: 12px;
  --nutxanhla: #4caf50;
  --nutcamhover: #e07b00;
  --nutcam: #ff8c00;
  --nutdo: #f44336;
  --nutxam: #6C757D;

  --xanhchudao:#0F5E9F;
  --mauden: #1B1B1B;

  }